### Dia 4: Análise Exploratória: Variáveis categóricas

In [ ]:
import import_ipynb
import Dia_3

import pandas as pd

In [2]:
dados = Dia_3.dados

In [13]:
dados.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_CDU
0,709684,L095049,NaN,2010-01-04 07:44:10.721,2010/01/05 16:26:12.662000000,2008023265,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
1,726965,L095049,2010/03/31 12:41:08.684000000,2010-03-01 12:40:56.212,2010/04/30 14:42:35.366000000,2009121584,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,Ciências aplicadas
2,709685,L167050,NaN,2010-01-04 07:44:10.750,2010/01/12 07:34:13.934000000,2008023265,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
3,717763,L167050,NaN,2010-02-11 11:16:30.335,2010/03/04 08:54:32.262000000,2008050352,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas
4,729996,L167050,2010/03/17 09:08:26.874000000,2010-03-04 13:36:26.599,2010/03/31 18:04:29.669000000,200722565,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,Ciências aplicadas

#### Função para a tabela de frequência

In [53]:
def tabela_frequencia(variavel):
    res = pd.DataFrame(dados[variavel].value_counts()) 
    res.columns = ["Quantidade"]
    
    res["Percentual"] = res.Quantidade / res.Quantidade.sum() * 100
    res["Percentual"] = res["Percentual"].apply(lambda x: "{0:.2f}%".format(x)) #formatar x para todo x em Percentual

    return res

#### Quantidade de empréstimos por tipo de vínculo

In [16]:
dados["tipo_vinculo_usuario"].unique()

array(['ALUNO DE GRADUAÇÃO', 'ALUNO DE PÓS-GRADUAÇÃO', 'DOCENTE',
       'DOCENTE EXTERNO', 'SERVIDOR TÉCNICO-ADMINISTRATIVO',
       'ALUNO MÉDIO/TÉCNICO', 'USUÁRIO EXTERNO', 'OUTROS'], dtype=object)

In [54]:
dados_vinculo = tabela_frequencia("tipo_vinculo_usuario")

dados_vinculo

                                 Quantidade Percentual
tipo_vinculo_usuario
ALUNO DE GRADUAÇÃO                  1612324     77.80%
ALUNO DE PÓS-GRADUAÇÃO               302541     14.60%
DOCENTE                               70981      3.42%
SERVIDOR TÉCNICO-ADMINISTRATIVO       32184      1.55%
ALUNO MÉDIO/TÉCNICO                   28029      1.35%
DOCENTE EXTERNO                       23949      1.16%
USUÁRIO EXTERNO                        2509      0.12%
OUTROS                                    5      0.00%

#### Quantidade de empréstimos por coleção

In [17]:
dados["colecao"].unique()

array(['Acervo Circulante', 'Folhetos', 'Teses', 'Dissertações',
       'Monografias', 'Publicações de Autores do RN',
       'Publicações da UFRN', 'Multimeios', 'Coleção Mossoroense',
       'Eventos', 'Trabalho Acadêmico', 'Obras de Referência',
       'Obras Raras', 'Literatura de Cordel', 'Coleção Zila Mamede',
       'Necessidades Educacionais Específicas'], dtype=object)

In [55]:
dados_colecao = tabela_frequencia("colecao")

dados_colecao

                                       Quantidade Percentual
colecao
Acervo Circulante                         2053120     99.06%
Multimeios                                   7954      0.38%
Monografias                                  4021      0.19%
Dissertações                                 2406      0.12%
Obras de Referência                          1954      0.09%
Publicações de Autores do RN                  866      0.04%
Publicações da UFRN                           764      0.04%
Teses                                         714      0.03%
Folhetos                                      271      0.01%
Necessidades Educacionais Específicas         130      0.01%
Trabalho Acadêmico                            115      0.01%
Eventos                                       101      0.00%
Coleção Mossoroense                            44      0.00%
Coleção Zila Mamede                            30      0.00%
Literatura de Cordel                           24      0.00%
Obras Raras                                     8      0.00%

#### Quantidade de empréstimos por classe CDU

In [18]:
dados["classe_CDU"].unique()

array(['Ciências aplicadas', 'Linguagem, língua, linguística',
       'Ciências sociais', 'Geografia, biografia, história',
       'Matemática e ciências naturais', 'Religião',
       'Generalidades, ciência e conhecimento', 'Filosofia e psicologia',
       'Belas artes'], dtype=object)

In [56]:
dados_classe = tabela_frequencia("classe_CDU")

dados_classe

                                       Quantidade Percentual
classe_CDU
Ciências aplicadas                        1425473     68.78%
Ciências sociais                           369536     17.83%
Matemática e ciências naturais              68744      3.32%
Generalidades, ciência e conhecimento       62521      3.02%
Religião                                    62295      3.01%
Filosofia e psicologia                      60563      2.92%
Geografia, biografia, história               7989      0.39%
Belas artes                                  7911      0.38%
Linguagem, língua, linguística               7490      0.36%

#### Quantidade de empréstimos por biblioteca

In [19]:
dados["biblioteca"].unique()

array(['Biblioteca Central Zila Mamede',
       'Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba',
       'Biblioteca Setorial Bertha Cruz Enders - \xadEscola de Saúde da UFRN - ESUFRN',
       'Biblioteca Setorial do Centro Ciências da Saúde - CCS',
       'Biblioteca Setorial Prof. Alberto Moreira Campos - \xadDepartamento de Odontologia',
       'Biblioteca Setorial Prof. Ronaldo Xavier de Arruda - CCET',
       'Biblioteca Setorial do Centro de Ciências Humanas, Letras e Artes - CCHLA',
       'Biblioteca Setorial Prof. Horácio Nicolas Solimo - \xad Engenharia Química - EQ - CT',
       'Biblioteca Setorial Prof. Francisco Gurgel De Azevedo - Instituto Química - IQ',
       'Biblioteca Setorial do Centro Ciências Sociais Aplicadas - CCSA',
       'Biblioteca Setorial do Departamento de Artes - DEART',
       'Biblioteca Setorial Prof. Dr. Marcelo Bezerra de Melo Tinôco - DARQ - \xadCT',
       'Biblioteca Setorial Árvore do Conhecimento - Instituto do Cérebro - ICe',
       'Biblioteca Setorial Moacyr de Góes - CE',
       'Biblioteca Setorial Prof. Leopoldo Nelson - \xadCentro de Biociências - CB',
       'Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN - Caicó',
       'Biblioteca Setorial Pe. Jaime Diniz - Escola de Música - EMUFRN',
       'Biblioteca Setorial Profª. Maria Lúcia da Costa Bezerra - \xadCERES\xad - Caicó',
       'Biblioteca Setorial Profª. Maria José Mamede Galvão - FELCS - Currais Novos',
       'Biblioteca Setorial do Núcleo de Educação da Infância - NEI',
       'Biblioteca Setorial da Faculdade de Ciências da Saúde do Trairi - FACISA - Santa Cruz',
       'Biblioteca Setorial do Núcleo de Ensino Superior do Agreste - NESA - Nova Cruz'],
      dtype=object)

In [57]:
dados_biblioteca = tabela_frequencia("biblioteca")

dados_biblioteca

                                                    Quantidade Percentual
biblioteca
Biblioteca Central Zila Mamede                         1426122     68.81%
Biblioteca Setorial do Centro Ciências da Saúde...      118614      5.72%
Biblioteca Setorial da Faculdade de Ciências da...       77609      3.74%
Biblioteca Setorial Prof. Alberto Moreira Campo...       66447      3.21%
Biblioteca Setorial Profª. Maria Lúcia da Costa...       61478      2.97%
Biblioteca Setorial Bertha Cruz Enders - ­Escol...       46040      2.22%
Biblioteca Setorial do Centro de Ciências Human...       40744      1.97%
Biblioteca Setorial Dr. Paulo Bezerra - EMCM/RN...       32097      1.55%
Biblioteca Setorial Profª. Maria José Mamede Ga...       29089      1.40%
Biblioteca Setorial Prof. Rodolfo Helinski - Es...       27219      1.31%
Biblioteca Setorial Prof. Francisco Gurgel De A...       26923      1.30%
Biblioteca Setorial do Núcleo de Educação da In...       23656      1.14%
Biblioteca Setorial Prof. Ronaldo Xavier de Arr...       22749      1.10%
Biblioteca Setorial Pe. Jaime Diniz - Escola de...       21476      1.04%
Biblioteca Setorial do Departamento de Artes - ...       17099      0.83%
Biblioteca Setorial Prof. Leopoldo Nelson - ­Ce...       12900      0.62%
Biblioteca Setorial do Centro Ciências Sociais ...       10533      0.51%
Biblioteca Setorial Prof. Dr. Marcelo Bezerra d...        5057      0.24%
Biblioteca Setorial Prof. Horácio Nicolas Solim...        4098      0.20%
Biblioteca Setorial Moacyr de Góes - CE                   1036      0.05%
Biblioteca Setorial Árvore do Conhecimento - In...         919      0.04%
Biblioteca Setorial do Núcleo de Ensino Superio...         617      0.03%